<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/font-awesome.min.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="container">
    {% block menu %}
    {% endblock menu %}
        {% block content %}
        {% endblock content %}    
    </div>    
    <script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>